
<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
    <div class="form-group">
      <label for="strength">Password strength: {{ getPasswordStrength(model.strength) }} </label>
      <input type="range" class="form-control" id="strength"
             required formControlName="strength" name="strength" min="0" max="4"
             [(ngModel)]="model.strength"
             (input)="updateSelectedStrength()">
      <div [hidden]="passwordForm.get('strength')?.valid"
           class="alert alert-danger">
        Password strength is required
      </div>
    </div>
    <button type="submit" class="btn btn-success">Generate Password</button>
  </form>

  <div class="container mt-4">
    <h3>Your generated passwords:</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Value</th>
          <th>Strength</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let password of passwordLog">
          <td>{{ password.value }}</td>
          <td>{{ password.strength }}</td>
          <td><button type="button" class="btn btn-default" (click)="copyPasswordToClipboard(password.value)">Copy password to clipboard</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
